.u-section-1 {
     background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/2ac90dce56514b373c87394ad15baace2c3e6b780676ee58a85082409d3bbbe602d532690e9f616da0de158dccd844d121dc46e70a63557526e7ec_1280.jpg");
     background-position: 50% 50%;
   }
   
   .u-section-1 .u-sheet-1 {
     min-height: 849px;
   }

   .u-section-1 .u-text-1 {
     font-size: 10.5rem;
     font-weight: 700;
     margin: 60px 107px 0;
   }
   
   .u-section-1 .u-text-2 {
     font-size: 2.25rem;
     margin: 40px 20px 0;
   }

   .u-section-1 .u-text-3 {
    letter-spacing: 2px;
    font-size: 1.125rem;
    margin: 20px 205px 0;
  }
  
  .u-section-1 .u-text-4 {
    width: 542px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.125rem;
    background-image: none;
    align-self: center;
    font-weight: 700;
    margin: 56px auto 60px;
    padding: 20px 55px 21px 54px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 715px;
    }
    .u-section-1 .u-text-1 {
      margin-left: 7px;
      margin-right: 7px;
    }
  
    .u-section-1 .u-text-2 {
      font-family: Roboto, sans-serif;
      margin-left: 0;
      margin-right: 0;
    }

    .u-section-1 .u-text-3 {
      margin-left: 105px;
      margin-right: 105px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 695px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 8.75rem;
      margin-left: 0;
      margin-right: 0;
    }