.u-section-1 {
     background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/2ac90dce56514b373c87394ad15baace2c3e6b780676ee58a85082409d3bbbe602d532690e9f616da0de158dccd844d121dc46e70a63557526e7ec_1280.jpg");
     background-position: 50% 50%;
   }
   
   .u-section-1 .u-sheet-1 {
     min-height: 849px;
   }

   